<main id="main" class="">
    <div class="row justify-content-between mb-2">
        <div class="col-11">
            <input class=" form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #filter (keyup)="filterData(filter.value)">
        </div>
        <div class="col-1">
            <select class="form-select" aria-label="Default select example" #pageSize (change)="changePageSize(pageSize.value)">
                <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
            </select>
        </div>
       
    </div>
    
    <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Describtion</th>
            <th *ngIf="role === 'Admin'" scope="col">College</th>
            <th >
              <button class="btn btn-success" (click)="onAdd()"><i class="bi bi-plus"></i></button>
            </th>
          </tr>
        </thead>
        <tbody>
         
          <tr  *ngFor="let dept of visibleData(); let i = index" >
            <th scope="row">{{ i + 1 }}</th>
            <td >
              <div *ngIf="dept.isEdite">
              <input type="text" class="form-control" [(ngModel)]="dept.name" placeholder="Department Name">
              <div class="text-danger" >
                <span>{{validateDeptName(dept.name)}}</span>
              </div>
              </div>
              <div *ngIf="!dept.isEdite">
                 {{dept.name}}
              </div>
             </td>
             <td >
              <div *ngIf="dept.isEdite">
              <input type="text" class="form-control" [(ngModel)]="dept.description" placeholder="Describtion">
              <div class="text-danger" *ngIf="validateFiled(dept.description)">
                <span>This field required</span>
              </div>
              </div>
              <div *ngIf="!dept.isEdite">
                 {{dept.description}}
                </div>
             </td>
             <td *ngIf="role === 'Admin'" >
              <div  *ngIf="dept.isEdite">
                <select class="form-select form-control" aria-label="Default select example" [(ngModel)]="dept.collegeId" >
                  <option *ngFor="let college of colleges" [value]="college.id">{{college.name}}</option>
              </select>
              <div class="text-danger" *ngIf="validateFiled(dept.collegeId)">
                <span>This field required</span>
              </div>
              </div>
              <div *ngIf="!dept.isEdite">
                <span *ngFor="let college of colleges">
                  <span *ngIf="college.id == dept.collegeId">{{college.name}}</span>
                </span>
                </div>
             </td>
            <td>
              <div *ngIf="dept.isEdite">
                <button class="btn btn-success btn-sm mx-1" title="Update" type="button" [disabled]="validateForm(dept)" (click)="onUpdate(dept)">
                  <i class="bi bi-box-arrow-down"></i>
                </button>
                <button class="btn btn-danger btn-sm mx-1" title="Cancel" type="button" (click)="onCancelEdit(dept)">
                  <i class="bi bi-x-lg"></i>
                </button>
                </div>
                <div *ngIf="!dept.isEdite">
              <button class="btn btn-primary btn-sm mx-1" title="Edit" type="button" (click)="onEdite(dept)">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-danger btn-sm mx-1" title="Delete" type="button" (click)="openModal(dept.id)">
                <i class=" bi bi-trash"></i>
              </button>

<!-- Modal -->
<div class="modal" id="exampleModal" >
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      Are you sure !?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal()" data-bs-dismiss="modal">No</button>
      <button type="button" class="btn btn-success" (click)="onDelete()">Yes</button>
    </div>
  </div>
  </div>
  </div>


                  </div>
            </td>
          </tr>


        </tbody>
      </table>
    <div class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item">
          <button (click)="previousPage()" class="page-link" href="" >Previous</button>
        </li>
        <li class="page-item" [class.active]="i+1 == currentPage" *ngFor="let pageNumber of pageNumbers(); let i = index" ><button (click)="changePageNumber(i+1)"  class="page-link" >{{i + 1}}</button></li>
        <li class="page-item">
          <button (click)="nextPage()" class="page-link" href="" >Next</button>
        </li>
      </ul>
    </div>
      

</main>
