  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " routerLink="/admin/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#college-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>College</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="college-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/admin/college">
              <i class="bi bi-circle"></i><span>New College</span>
            </a>
          </li>
        </ul>

        <a class="nav-link collapsed" data-bs-target="#dept-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Department</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="dept-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/admin/department">
              <i class="bi bi-circle"></i><span>New Department</span>
            </a>
          </li>
        </ul>

       



        <a class="nav-link collapsed" data-bs-target="#course-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Course</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="course-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/admin/course">
              <i class="bi bi-circle"></i><span>New Course</span>
            </a>
          </li>
        </ul>

      </li><!-- End Components Nav -->


      <li class="nav-heading">Users</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#student-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Student</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="student-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/admin/student">
              <i class="bi bi-circle"></i><span>New Student</span>
            </a>
          </li>
        </ul>

        <a class="nav-link collapsed" data-bs-target="#professor-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Professor</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="professor-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/admin/professor">
              <i class="bi bi-circle"></i><span>New Professor</span>
            </a>
          </li>
        </ul>

        <a class="nav-link collapsed" data-bs-target="#employee-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Employee</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="employee-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/admin/employee">
              <i class="bi bi-circle"></i><span>New Employee</span>
            </a>
          </li>
        </ul>

      </li><!-- End Profile Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->