<main id="main" class="main">
  <div class="row justify-content-between mb-2">
    <div class="col-11">
        <input class=" form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #filter (keyup)="filterData(filter.value)">
    </div>
    <div class="col-1">
        <select class="form-select" aria-label="Default select example" #pageSize (change)="changePageSize(pageSize.value)">
            <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
        </select>
    </div>
   
</div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">NO</th>
            <th scope="col">Name</th>
            <th scope="col">Describtion</th>
            <th scope="col">Image</th>
            <th scope="col">Level</th>
            <th scope="col">Professor</th>
            <th scope="col">Department</th>
            <th>
                <button
                  type="button" title="Add New" class="btn btn-primary" (click)="addNew()">
                  <i class="bi bi-plus"></i>
                </button>
              </th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let course of filterCourse; let i = index">
            <tr *ngIf="selected != course" (click)="selecte(course)">
                <td>{{i+1}}</td>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>
                    <img [src]="course.img" alt="">
                </td>
                <td>{{course.levelYear}}</td>
                <td>{{course.professorId}}</td>
                <td>{{course.departmentId}}</td>
                <td>
                    <button class="btn btn-danger btn-sm mx-1" title="Delete" type="button" (click)="openModal(course.id)">
                        <i class=" bi bi-trash"></i>
                      </button>
                </td>
            </tr>

            <tr *ngIf="selected == course" class="table-primary">
                <td>{{i+1}}</td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="course.name" placeholder="Name" title="Name">
                </td>
                <td>
                    <textarea  class="form-control" [(ngModel)]="course.description" placeholder="Describtion" title="Description"></textarea>
                </td>
                <td>
                    <input type="file" class="form-control" [(ngModel)]="course.img" title="Image">
                </td>
                <td>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="course.levelYear">
                        <option selected value="0">First</option>
                        <option value="1">Second</option>
                        <option value="2">Third</option>
                        <option value="3">Fourth</option>
                        <option value="4">Fifth</option>
                      </select>
                </td>
                <td>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="course.professorId">\
                        <!--list proff table-->
                        <option selected value="0">First</option>
                        <option value="1">Second</option>
                        <option value="2">Third</option>
                        <option value="3">Fourth</option>
                        <option value="4">Fifth</option>
                      </select>
                </td>
                <td>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="course.departmentId">
                        <!--list depts from depts table-->
                        <option *ngFor="let dept of departService.departments" [value]="dept.id">{{dept.name}}</option>
                        
                      </select>
                </td>
                <td>             
                    <button
                        class="btn btn-primary btn-sm mx-1"
                        title="update" (click)="update(course)">
                        <i class="bi bi-lightning"></i>
                      </button>
            
                      <button
                        class="btn btn-danger btn-sm mx-1"
                        title="Cancel Changes"
                        type="button" (click)="cancel()"
                      >
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </td>
            </tr>
            </ng-container>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <button (click)="previousPage()" class="page-link" href="" >Previous</button>
          </li>
          <li class="page-item" [class.active]="i+1 == currentPage" *ngFor="let pageNumber of pageNumbers(); let i = index" ><button (click)="changePageNumber(i+1)"  class="page-link" >{{i + 1}}</button></li>
          <li class="page-item">
            <button (click)="nextPage()" class="page-link" href="" >Next</button>
          </li>
        </ul>
      </div>

      <!-- Modal -->
<div class="modal" id="exampleModal" >
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        Are you sure !?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" [disabled]="!selectToDelete" (click)="onDelete(selectToDelete)">Yes</button>
      </div>
    </div>
    </div>
    </div>
    <!--End Modal -->

</main>